@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Poppins:wght@300&family=Mooli&family=Nunito:wght@300&display=swap");

// Color Variables
$primary: #007bff;
$primary-hover: darken($primary, 10%);
$secondary: #767676;
$secondary-focus: darken($secondary, 40%);
$background: #efefef;
$background-hover: darken($background, 10%);
$background-selected: $primary;
$background-selected-hover: $primary-hover;
$background-disabled: #cccccc85;
$text-primary: #fff;
$text-secondary: #000;
$text-tertiary: #7f7f7f;
$text-selected: $text-primary;
$text-disabled-primary: #818181;
$text-disabled-secondary: #ccc;

body {
  font-family: Calibri, sans-serif;
  margin: 40px;
  cursor: default;
  user-select: none;
  position: relative;
  height: calc(100vh - 80px);

  ::selection {
    background-color: $background-selected;
    color: $text-primary;
  }

  ::-moz-selection {
    background-color: $background-selected;
    color: $text-primary;
  }
}

.button-set {
  flex: 1;
}

.type-btn-set {
  display: flex;
}

.type-btn {
  padding: 10px;
  background-color: $background;
  color: $text-secondary;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: solid 2px $secondary;

  &:hover {
    background-color: $background-hover;
  }

  &.selected {
    background-color: $background-selected;
    color: $text-selected;

    &:hover {
      background-color: $background-selected-hover;
    }
  }

  &:not(:first-child) {
    border-left: 0;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type="text"] {
  width: -webkit-fill-available;
  padding: 10px;
  border: solid 2px $secondary;
  outline: none;

  &:focus {
    border: solid 2px $secondary-focus;
  }
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.num,
#taskNumContainer {
  flex: 1;
}

.name,
#taskNameContainer {
  flex: 12;
}

@media (max-width: 1200px) {
  .input-wrapper {
    flex-direction: column;
  }
}

#output-wrapper {
  padding: 10px;
  border: 1px solid $text-disabled-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label#output-label {
  margin-top: 20px;
}

.output-content {
  flex: 15;
  padding: 0;
  margin: 0;
  color: $text-secondary;
  user-select: text;

  &[isDisabled="true"] {
    color: $text-disabled-secondary;
    user-select: none;
  }
}

#copyButton {
  flex: 1;
  padding: 10px 20px;
  background-color: $primary;
  color: $text-primary;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: $background-disabled;
    cursor: not-allowed;
    color: $text-disabled-primary;
  }

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }
}

.footer {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: -webkit-fill-available;
  flex-direction: column;
  font-family: "Mooli", sans-serif;
  font-size: 12px;

  p {
    margin: 0;
  }

  .credit {
    color: $text-tertiary;
  }

  .version {
    font-weight: 700;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
