<div class="main-content sm:w-12 md:w-11 lg:w-10 xl:w-9 h-full">
    <header
            class="font-medium surface-ground p-2 text-xl vertical-align-middle flex justify-content-between">
        <span class="flex align-items-center gap-2"><i class="pi pi-cog text-lg"></i>Branch name generator</span>
        <span (click)="toggleTheme()" *ngIf="theme === 'light'"><i class="pi pi-sun text-lg"></i></span>
        <span (click)="toggleTheme()" *ngIf="theme !== 'light'"><i class="pi pi-moon text-lg"></i></span>
    </header>
    <div class="sm:mx-2 md:mx-0">
        <router-outlet></router-outlet>
    </div>
    <footer class="surface-ground p-2 bottom-0 absolute w-full
  text-center border-top-1 border-800 text-sm text-color-secondary">
        <p class="m-1">
            Created by Efi (<a class="no-underline text-primary" href="https://github.com/efi98/branch-name-generator"
                               target="_blank">source code</a>)
        </p>
        <span class="font-medium text-400">V. 1.0.2</span>
    </footer>
</div>
<p-toast [life]="75000" [preventOpenDuplicates]="true" position="top-center">
</p-toast>
<p-confirmDialog [acceptVisible]="false" [dismissableMask]="true" position="top" [rejectVisible]="false"
                 defaultFocus="close">
</p-confirmDialog>