@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,300;0,700;1,300;1,700&family=Poppins:wght@300&family=Mooli&family=Nunito:wght@300&display=swap");

body {
  font-family: Calibri, sans-serif;
  margin: 40px;
  cursor: default;
  user-select: none;
  position: relative;
  height: calc(100vh - 80px);
}

.button-set {
  flex: 1;
}

.type-btn-set {
  display: flex;
}

.type-btn {
  padding: 10px;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: solid 2px rgb(118, 118, 118);
}

.type-btn:hover {
  background-color: #dcdcdc;
}

.type-btn.selected {
  background-color: #007bff;
  color: #fff;
}

.type-btn.selected:hover {
  background-color: #0056b3;
}

.type-btn:not(:first-child) {
  border-left: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

input[type="text"] {
  width: -webkit-fill-available;
  padding: 10px;
  border: solid 2px rgb(131, 131, 131);
  outline: none;
}

input[type="text"]:focus {
  border: solid 2px rgb(16, 16, 16);
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.num,
#taskNumContainer {
  flex: 1;
}

.name,
#taskNameContainer {
  flex: 12;
}

@media (max-width: 1200px) {
  .input-wrapper {
    flex-direction: column;
  }
}

#output-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label#output-label {
  margin-top: 20px;
}

.output-content {
  flex: 30;
  padding: 0;
  margin: 0;
  color: #ccc;
  user-select: none;
}

#copyButton {
  flex: 1;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#copyButton:disabled {
  background-color: #cccccc85;
  cursor: not-allowed;
  color: #818181;
}

#copyButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.footer p {
  margin: 0;
}

.footer .credit {
  color: #7f7f7f;
}
.footer .version {
  font-weight: 700;
  font-size: 12px;
}
