.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; /* Adjust gap as needed */
}

::ng-deep .grid-container > p-card > .p-card.p-component {
  height: -webkit-fill-available;
}